<div id="releases">
    <h2 id="title" class="title">Protractor releases</h2>
    <br/>

    <div class="panel panel-default">
        <div class="panel-heading">Releases <input ng-model="query" type="text"
                                                   placeholder="Filter by" autofocus class="pull-right"></div>
        <div class="panel-body">
            <div ng-if="rel.error" class="alert alert-danger">{{rel.error}}</div>
            <p ng-if="!rel.error">The following releases are available. <span
                    class="text-info pull-right">scroll down for more versions</span></p>
        </div>
        <div class="list-group" style="max-height: 200px; min-height: 100px;overflow-y: scroll;">
            <li class="list-group-item" ng-repeat="release in rel.releases | filter:query">{{release.name}}</li>
        </div>

    </div>
</div>